<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Lista de Empleados</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='estilo.css') }}">
</head>

<body>

    <div class="contenedor">

        <h1 class="titulo">Lista de Empleados</h1>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Salario</th>
                </tr>
            </thead>

                <tbody>
                    <!--S i la lista tiene emplados, muestra info, sino muestra mensaje de que no hay-->
                    {% if empleados %}
                
                        {% for empleado in empleados %}
                            <tr>
                                <td>{{ empleado[0] }}</td>
                                <td>{{ empleado[1] }}</td>
                                <td>{{ empleado[2] }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="3">No hay empleados registrados.</td>
                        </tr>
                    {% endif %}

                </tbody>
        </table>

        <a class="boton" href="/add">
            Insertar Empleado
        </a>
    </div>

</body>

</html>